{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
	<h1>Welcome to Tgen!</h1>
	Select the action
	<input type="submit" name="server" value="Server">
	<input type="submit" name="client" value="Client">
	<input type="submit" name="kill" value="Kill">
</form>
{% endblock %}